<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie -Tutti gli Artisti</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{admin/adminindex.html :: header}"> </div>

    <main class="column">

        <div class="title-div" th:if="${directors.isEmpty()}">
            <h1 class="title">Non ci sono Artisti nel sistema</h1>
        </div>
        <div class="title-div" th:unless="${directors.isEmpty()}">
            <h1 class="title" th:text="'Registi disponibili per ' + ${movie.title}">Titolo</h1>
        </div>

        <div class="card-slideshow">
            <div class="card-container">
                <div class="card" th:each="director : ${directors}">
                    <div class="card-img">
                        <img
                        th:src="@{'data:image;base64,' + ${director.imageString}}">
                    </div>
                    <div class="card-info">
                        <a th:href="@{'/admin/setDirector/' + ${movie.id} + '/' + ${director.id}}" class="link" th:text="${director.name} + ' ' + ${director.surname} "><h2>Info</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>