<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiwMovie -Aggiungi un Artista</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{admin/adminindex.html :: header}"> </div>

    <main class="evenly-spacer small-margin-top">
        <form method="POST" th:action="@{/admin/addArtist}" th:object="${artist}" class="box" enctype="multipart/form-data">
            <h2 class="title">Inserisci un Artista</h2>
            <div class="input-content">
                <input type="text" placeholder="Nome dell'Artista" class="form-input" th:field="${artist.name}">
                <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                <input type="text" placeholder="Cognome dell'Artista" class="form-input" th:field="${artist.surname}">
                <span class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

                <input type="date" placeholder="Data di Nascita" class="form-input" th:field="${artist.birthDate}">
                <span class="error" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></span>

                <input type="date" placeholder="Data di Morte" class="form-input" th:field="${artist.deathDate}">

                <div class="file-input form-input column">
                    <input type="file" th:name="image" accept="/image*">
                </div>
            </div>
            <div>
                <input type="submit" class="submit" th:href="@{/index}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <h3 class="error" th:each="err:${#fields.globalErrors()}" th:text="${err}">Errore</h3>
                </div>
            </div>
        </form>
    </main>

</body>

</html>