<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie -Tutti i Film</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{index.html :: header}"> </div>

    <main>
        <div class="title-div">
            <h1 class="title" th:if="${movies.isEmpty()}">Non ci sono Film nel sistema</h1>
            <h1 class="title" th:unless="${movies.isEmpty()}">Gestisci i Film</h1>
        </div>

        <div style="display: flex; justify-content: space-evenly;">
            <form method="GET" th:action="@{/manageMoviesByYear}"
                style="display: flex; align-items: center; width:400px;">
                <h3>Filtra per anno</h3>
                <div class="input-content">
                    <input type="number" placeholder="Anno del Film" class="form-input" th:name="year"
                        style="height: 30px;">
                </div>
                <br>
                <input type="image" th:src="@{/svgs/search.svg}" class="form-button">
            </form>
        </div>

        <div class="card-slideshow mini-margin-top">
            <div class="card-container small-margin-top">
                <div class="card" th:each="movie:${movies}">
                    <div class="card-img">
                        <img th:src="@{'data:image;base64,' + ${movie.imageString}}">
                    </div>
                    <div class="card-info">
                        <a th:href="@{'/admin/manageMovies' + '/' + ${movie.id}}" class="link">
                            <h3 th:text="${movie.title} + ' ' + '(' + ${movie.year} + ')'"> Info </h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>