<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie -Gestisci gli Artisti</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{admin/adminindex.html :: header}"> </div>

    <main>

        <div class="card-slideshow small-margin-top">
            <div class="title-div">
                <h1 th:if="${artists.isEmpty()}" class="title">Non ci sono Artisti nel sistema</h1>
                <h1 th:unless="${artists.isEmpty()}" class="title">Gestisci Artisti</h1>
            </div>
            <div class="card-container">
                <div class="card" th:each="artist : ${artists}">
                    <div class="card-img">
                        <img
                        th:src="@{'data:image;base64,' + ${artist.imageString}}">
                    </div>
                    <div class="card-info">
                        <a th:href="@{'/admin/manageArtist/' + ${artist.id}}" class="link">
							<h3 th:text="${artist.name} + ' ' + ${artist.surname}">Info</h3>
						</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>