<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie -Gestisci Film</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{admin/adminindex.html :: header}"> </div>

    <main class="column margin-top" style="margin-top: 2%;">

        <div th:fragment="movie-banner" class="movie-banner">

            <div id="manage-options" class="column"
                style="justify-content: space-evenly; height: 300px; margin-left: 20px;">
                <a th:href="@{'/admin/editMovie/'+${movie.id}}">
                    <img th:src="@{/pngs/edit.png}" style="width: 40px; height: 40px;">
                </a>
                <a th:href="@{'/admin/deleteMovie/'+${movie.id}}">
                    <img th:src="@{/svgs/bin.svg}" style="width: 40px; height: 40px;">
                </a>
            </div>

            <div id="movie-image" class="column" style="height:100%; width:40%;">
                <img th:src="@{'data:image;base64,' + ${movie.imageString}}"
                    style="height: 300px; width: 220px;margin: 10px 10px 10px 30px;">
            </div>

            <div id="movie-info" style="height:100%; width:60%;">
                <div>
                    <h2 th:text="'Titolo: '+${movie.title}"></h2>
                </div>
                <hr>
                <div>
                    <h2 th:text="'Anno di Pubblicazione: '+${movie.year}"></h2>
                </div>
                <hr>
                <div th:if="${movie.director}">
                    <a class="link" th:href="@{'/admin/addDirector' + '/' + ${movie.id}}">
                        <h2
                            th:text="'Regista: '+${movie.director.name} + ' ' + ${movie.director.surname} + ' ○ Modifica'">
                            Regista</h2>
                    </a>
                </div>
                <div th:unless="${movie.director}">
                    <a class="link" th:href="@{'/admin/addDirector' + '/' + ${movie.id}}">
                        <h2 th:text="'Ancora nessun Regista ○ Aggiungi'">Regista</h2>
                    </a>
                </div>
                <hr>
                <div>
                    <a class="link" th:href="@{'/admin/manageActors/' + ${movie.id}}">
                        <h2 th:text="'Lista Attori: Modifica'"></h2>
                    </a>
                </div>
                <hr>
                
            </div>
        </div>

        <div class="movie-reviews-banner">
            <h2 style="margin-left: 20px">Recensioni</h2>
            <div class="review-container">
                <div class="review-content" th:each="review: ${movie.reviews}">
                    <h2
                        th:text="'Titolo: ' + ${review.title} + ' di ' + ${review.user.name} + ' ' + ${review.user.surname}+' ○ Valutazione: '+ ${review.valutation} +'/5'">
                    </h2>
                    <progress max="5" th:value="${review.valutation}" class="valutation-bar"></progress>
                    <a th:href="@{'/admin/manageReview/'+${review.id}}" class="link" style="margin-left: 10%;">
                        <h2>Leggi Recensione</h2>
                    </a>
                </div>
            </div>
        </div>

    </main>

</body>

</html>