<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIWMovie -Artista</title>
    <link rel="stylesheet" th:href="@{/css/stile.css}">
</head>

<body class="background">

    <div th:insert="~{index.html :: header}"> </div>

    <main class="column" style="margin-top: 2%;">

        <div class="movie-banner">
            <div id="artist-image" class="column" style="height:100%; width:40%;">
                <img th:src="@{'data:image;base64,' + ${artist.imageString}}"
                    style="height: 300px; width: 220px;margin: 10px 10px 10px 30px;">
            </div>
            <div id="artist-info" style="height:100%; width:60%;">
                <div>
                    <h2 th:text="'Nome: '+${artist.name}"></h2>
                </div>
                <hr>
                <div>
                    <h2 th:text="'Cognome: '+${artist.surname}"></h2>
                </div>
                <hr>
                <div>
                    <h2 th:text=" 'Data di nascita: ' + ${artist.birthDate}">età</h2>
                </div>
                <hr>
                <div th:if="${artist.deathDate}">
                    <h2 th:text=" 'Data di morte: ' + ${artist.deathDate}">età</h2>
                </div>
            </div>
        </div>

        <div class="movie-reviews-banner" style="height: fit-content;">
            <h2>Compare In:</h2>
            <div class="card-container margin-top">
                <div class="card" th:each="movie:${artist.movies}">
                    <div class="card-img">
                        <img th:src="@{'data:image;base64,' + ${movie.imageString}}">
                    </div>
                    <div class="card-info">
                        <a th:href="@{'/movies' + '/' + ${movie.id} }" class="link">
                            <h3 th:text="${movie.title} + ' ' + '(' + ${movie.year} + ')'">Info</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>